footer {
    background-color: #F1F2F6;
    display: flex;
    justify-content: space-between;
    gap: 140px;
}


.footer__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 37px 0px 0px 73px;
}

.footer__info img[alt="logo"] {
    width: 190px;
}

.footer__info__box {
    display: flex;
    flex-direction: column;
    gap: 11px;

    font-family: PT Sans;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    color: #6F7682;
}

.footer__info__box__social,
.footer__info__box__pay {
    display: flex;
    gap: 10px;
}

.footer__info__box__social img {
    width: 35px;
}

.footer__info__box__pay div {
    background: white;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__info__box__pay img {
    width: 40px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    padding: 50px 135px 40px 0px;
    width: 100%;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__nav h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.footer__nav ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__nav ul li {
    list-style: none;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    color: #6F7682;
}

.footer__nav ul.with_icon li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__nav ul li.checked {
    color: #6CDB7E;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
}

.footer__nav ul li a {
    font-family: PT Sans;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    color: #6F7682;
    text-decoration: none;
}

.footer__subscribe {
    display: flex;
    gap: 93px;
}

.footer__subscribe__box {
    display: flex;
}

.footer__subscribe__box__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__subscribe__box__input input {
    width: 385px;
    height: 40px;
    padding: 0 5px;
    align-content: center;
    border: none;
}

.footer__subscribe__box__input p {
    width: 364px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #6F7682;
}

.footer__subscribe__box span {
    display: block;
    width: 140px;
    height: 40px;
    text-align: center;
    align-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    background-color: #4798DE;
}



.to_top {
    border: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
