
.offers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 60px;
}

.offer_body {
    flex-shrink: 0;
    width: 668px;
    height: 789px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.offer_img {
    flex-shrink: 0;
    min-width: 668px;
    height: 100%;
}

.offer_content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}

.offer_content .first_img {
    width: 152px;
}

.offer_content .second_img {
    width: 71px;
}

.offer_content h3 {
    margin: 25px 0 15px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
}

.offer_content p {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -2%;
    text-align: center;
}

.offer_content button {
    width: 292px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    align-content: center;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -2%;
}

.email_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 401px;
    height: 50px;
    color: black;
    padding: 0 25px 0 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -2%;
}

.email_box__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}