.promo1 {
    display: flex;
    justify-content: center;
    gap: 26px;
    width: 100%;
    padding: 25px 0;
}

.promo1__item {
    width: calc(667px / 1680px * 100vw);
}

.promo1__item__img_wrapper {
    width: 100%;
    height: 269px;
    overflow: hidden;
    position: relative;
}

.promo1__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.promo1__item span {
    display: block;
    padding: calc(23px / 1680px * 100vw) 0;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: calc(21px / 1680px * 100vw);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: black;
}