@import url(./fonts.css);
@import url(./virables.css);
@import url(./header.css);
@import url(./arrows.css);
@import url(./slider1.css);

* {
    font-family: var(--Grtsk);  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

