@import url(./fonts.css);
@import url(./virables.css);
@import url(./header.css);
@import url(./arrows.css);
@import url(./slider1.css);
@import url(./promo1.css);
@import url(./brands.css);
@import url(./goods.css);
@import url(./promo2.css);
@import url(./slider2.css);
@import url(./offers.css);
@import url(./footer.css);


* {
    font-family: var(--Grtsk);  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 179px 170px 50px 154px;
    color: white;
}

.footer__bg1 {
    top: 0;
}

.footer__bg2 {
    top: 10px;
}

.footer__bg3 {
    top: 40px;
}

.footer__bg1,
.footer__bg2,
.footer__bg3 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.top__content {
    display: flex;
    justify-content: space-between;
}

.logo_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_part1 {
    width: 57px;
}

.logo_part2 {
    width: 247px;
}

.footer__send_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 667px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 25px;

    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -2%;

}

.footer__send_box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_send {
    width: 22px;  
    height: 19px;
}

.mid__content {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
}

.app_box {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.app_box__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.app_box__item {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
}

.app_box__item__content__title {
    font-weight: 500;
    font-size: 12px;
}

.app_box__item__content__text {
    font-weight: 500;
    font-size: 16px;
}

.app_box__item__img {
    width: 30px;
}

.qr_code {
    width: 120px;
    height: 120px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.contact_box__item {
    display: flex;
    gap: 25px;
}

.contact_box__item__img {
    width: 26px;
    height: 23px;
}

.contact_box__item__content__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.contact_box__item__content__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #BDBDBD;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer__item ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    margin-top: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BDBDBD;
}

.bottom__content {
    display: flex;
    justify-content: space-between;
}

.icons_box {
    display: flex;
    align-items: center;
    gap: 25px;
}

.bottom__content span {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BDBDBD;
}