@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./footer.css);
@import url(./switcher.css);
@import url(./news.css);
@import url(./header.css);
@import url(./menu.css);
@import url(./main_slider.css);
@import url(./stock.css);
@import url(./offers.css);
@import url(./brands.css);
@import url(./sub_slider.css);
@import url(./categories.css);
@import url(./actions.css);
@import url(./about.css);


* {
    font-family: 'PT Sans', sans-serif;  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}