@import url(./fonts.css);
@import url(./virables.css);
@import url(./header.css);
@import url(./arrows.css);
@import url(./slider1.css);
@import url(./promo1.css);
@import url(./brands.css);
@import url(./goods.css);
@import url(./promo2.css);
@import url(./slider2.css);
@import url(./offers.css);
@import url(./footer.css);


* {
    font-family: var(--Grtsk);  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}