:root {
    --Grtsk: 'Grtsk Peta';

    --gray: #CED4D7;
    --dark-gray: #828B8D;
    --mid-gray: #CED4D7;
    --light-gray: #F2F2F2;
    --header-bg: #F9F9F9;
    --green: #219653;
    --red: #EB5757;
}